h1{
	font-size: 60px;
	color: purple;
}
#first{
	font-size: 48px;
	color: brown;
}
img{
	width: 50%;
	height: auto;
}
body{
	background-image: url(m.jpg);
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
}